*{
    margin: 0;
    padding: 0;
}
html {
    overflow:  hidden; 
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    background-color: #323437 /*rgb(35,37,41)*/;
    color: #626467; /*#cfebdd*/
    font-family: 'Roboto Mono', sans-serif;
}

ul{
    list-style-type: none;
}
li{
    text-decoration: none;
}
.keyboard-wrapper{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    max-width: 1200px;
}
#keyboard{
    margin-top: 75px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
}
.text{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    min-height: 100px;
    padding: 20px;
    margin-top: 75px;
    color: #626467;
    border-radius: 2vh;
    align-content: center;
    letter-spacing: 0em;
    line-height: 1.5em;
}


@keyframes cursor {
    0% {
     opacity: 1;
     }
     50% {
      opacity: 0.1;
     }
     100%{
        opacity: 1;
     }
}

.cursor{
    position: relative;
    /* width: 2px; */
    height: 20px;
}
.cursor::after {
    position: absolute;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    left: 0;
    width: 2px;
    height: 20px;
    background-color: #dcb315;
    animation: cursor 1s infinite 0s ease-in-out;
    content: "";
}

.btn{
    font-size: 20px;
    padding: 10px 20px 8px 19px;
    border-radius: 7px;
    color:  #626467;/* #c7c6bc; */
    font-weight: slim;
    border: 2px #626467 solid;  /* rgb(107, 107, 107) */
    background-color: #323437;
    transition: 1s all ease;
}
.row{
    margin-top: 7px;
}
.btn.capsLock{
    transition: 0.15s all ease;
}
.capsLock.shift{
    padding: 10px 35px 8px 35px;
}
.space{
    padding: 10px 200px 8px 200px;
}

.right{
    border-color:rgb(168, 213, 168);
    color:rgb(168, 213, 168);
    transition: 0.3s all ease;
}
.wrong{
    border-color:#c54653;
    color: #c54653;
    transition: 0.3s all ease;
}

.active{
    color: #dcb315;
    transition: 0.3s all ease;
    border-color:  #dcb315;/* rgb(255, 255, 114);*/
}

.letterRight{
    color: #c7c6bc;/* rgb(200, 255, 161)*/
    font-weight: bold;
}

.letterWrong{
    color:  #c54653;/* rgb(249, 163, 200)*/
    font-weight: bold;
}

.content{
    margin-top: 10%;
}
.stats-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats{
    display: flex;
    align-self: center;
    font-size: 30px;
    color: #c7c6bc;
    margin-bottom: 50px;
}
.stats-elements{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.stats-elements ul{
    display: flex;
    align-self: center;
    flex-direction: column;
}
.first-letter{
    color: #dcb315;
}
.list{
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #c7c6bc;
}

#wrapper-modal{
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}

#wrapper-modal.active {
    position: absolute;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}

#modal-window {
    background: #323437;
    /* opacity: 0.8; */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#btn-close{
    padding: 0 30px;
    font-size: 20px;
    color: #c7c6bc;
    display: flex;
    margin-top: 100px;
    align-self: center;
    animation: btn-text 3s linear infinite;
}

@keyframes btn-text {
    0% {
     color: #c7c6bc;
    }
    50%{
     color: #dcb315;
    }
     100%{
     color: #c7c6bc;
    }
}

.btn.list{
    padding: 5px 0;
    display: flex;
    justify-content: center;
}